<!DOCTYPE html>
<html lang="en">

<!--  Head/Meta  Start-->
<%- include('../partials/meta', {
  title: productData.name, 
  image: productData.images[0], 
  description: productData.shortDescription
}); %>
<!--  Head/Meta  End-->

<body>
  <main class="main">

    <!--Header Start-->
     <%- include('../partials/header', {current: current}); %>
    <!--Header End-->

    <!-- Product Start-->
    <product-detail 
      url="url to fetch product product-detail" 
      id="<%= productData.id %>"
      stock="<%= productData.stock %>"
      images="<%= productData.images %>" 
      previous-price="<%= productData.actualPrice %>"
      current-price="<%= productData.sellingPrice %>"
      discount="<%= productData.discount %>"
      name="<%= productData.name %>"
      sizes="<%= productData.sizes %>"
      tags="<%= productData.tags %>"
      specifications="<%= productData.specifications %>"
      reviews-average="<%= reviews.average %>",
      reviews-total="<%= reviews.total %>",
      reviews="<%= reviews.ratings %>">
      <%= productData.description %>
    </product-detail>
    <!-- Product End  -->

  </main>

  <!-- Footer Start-->
  <%- include('../partials/footer'); %>
  <!-- Footer End  -->
</body>

<script src="../js/shop-main/action.js"></script>

</html>