<section class="featured">
  <div id="products-container">

    <% for (const [category, products] of Object.entries(categoryProductsObj)) { %>
      <div class="category">
        <div class="head">
          <h4 class="title"><%= category %></h4>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.5 5.00012C8.5 5.00012 15.5 9.14412 15.5 12.0001C15.5 14.8551 8.5 19.0001 8.5 19.0001"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div id="left-nav" class="nav">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
        <div id="right-nav" class="nav">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </div>
        <div class="products">
  
          <% for (const product of products) { %>
            <product-item 
              id="<%= product.id %>"
              product-name="<%= product.name %>"
              current-price="<%= product.sellingPrice%>"
              previous-price="<%= product.actualPrice%>" 
              images="<%= product.images %>">
              <%= product.description %>"
            </product-item>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>

  <div class="reserve">
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fugiat adipisci doloremque, cumque, quas
      facilis quisquam vel sed illo magnam, eaque necessitatibus deleniti fugit exercitationem. Beatae velit
      accusantium placeat ipsam!
    </p>
    <div class="actions">
      <a href="" class="action shop" id="shop-now">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16.3638 6.87003C16.3638 4.48403 14.4298 2.55003 12.0438 2.55003C9.65783 2.53903 7.71583 4.46503 7.70483 6.85103V6.87003"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M14.9727 11.3739H14.9267" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M9.14165 11.3739H9.09565" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.0342 21.4896C5.52619 21.4896 4.77719 19.4396 3.31619 14.0226C1.85019 8.58863 4.79119 6.55563 12.0342 6.55563C19.2772 6.55563 22.2182 8.58863 20.7522 14.0226C19.2912 19.4396 18.5422 21.4896 12.0342 21.4896Z"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span class="text">Shop now</span>
      </a>
      <a href="" class="action explore">
        <span class="text">Explore more</span>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.8055 5.31595C13.6935 5.25395 13.5715 5.22595 13.4515 5.22595C13.1835 5.22595 12.9265 5.36895 12.7905 5.61995C12.5945 5.98495 12.7295 6.43995 13.0945 6.63595C14.9757 7.65095 17.8054 9.64262 18.56 11.2502L4.5 11.2502C4.086 11.2502 3.75 11.5862 3.75 12.0002C3.75 12.4142 4.086 12.7502 4.5 12.7502L18.5584 12.7502C17.8014 14.3594 14.9743 16.3498 13.0945 17.365C12.7295 17.562 12.5945 18.016 12.7905 18.381C12.9875 18.745 13.4445 18.88 13.8055 18.685C14.4665 18.33 20.2505 15.1209 20.2505 11.998C20.2505 8.87895 14.4665 5.67095 13.8055 5.31595Z"
            fill="black" />
        </svg>
      </a>
    </div>
</section>